.vscode/
controllers/new_hexapod/.vs/
controllers/new_hexapod/*.exe
controllers/new_hexapod/new_hexapod/
controllers/new_hexapod/*.pdb
controllers/new_hexapod/.idea/.idea.new_hexapod/.idea/workspace.xml
controllers/new_hexapod/.idea/.idea.new_hexapod/.idea/projectSettingsUpdater.xml
**/__pycache__/
*.pyc
**/.idea
**/.vs
*.pdb
*.
**/x64